<% layout('layouts/boilerplate')%>

<h4>New Bug Report</h4>
<br>
<form action="/bugreports" method="POST" novalidate class="was-validated">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="bugID">Bug ID</label>
            <input type="text" class="form-control" id="bugID" name="bugReport[bugID]" pattern="BR[0-9]{4,}" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col">
            <label for="bugDescription">Bug Description</label>
            <textarea class="form-control" id="bugDescription" rows="6" name="bugReport[bugDescription]" required></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-4" hidden>
            <label for="bugStatus">Bug Status</label>
            <select id="bugStatus" class="form-control" name="bugReport[bugStatus]" required>
                <option value="Open">Open</option>
                <option value="In Progress">In Progress</option>
                <option value="Awaiting Testing">Awaiting Testing</option>
                <option value="Closed">Closed</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="bugSeverity">Bug Severity</label>
            <select id="bugSeverity" class="form-control" name="bugReport[bugSeverity]" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="form-group col-md-4" hidden>
            <label for="bugAssignedTo">Bug Assigned To</label>
            <select class="form-control" id="bugAssignedTo" name="bugReport[bugAssignedTo]" required>
                <option value="UNASSIGNED">UNASSIGNED</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>

    <div class="form-row" hidden>
        <div class="form-group col">
            <label for="bugDateReported">Date Reported</label>
            <input type="text" class="form-control" id="bugDateReported" name="bugReport[bugDateReported]" value="<%= new Date().toISOString() %>" readonly required>
        </div>
        <div class="form-group col">
            <label for="bugLastBumpDate">Last Bump Date</label>
            <input type="text" class="form-control" id="bugLastBumpDate" name="bugReport[bugLastBumpDate]" value="<%= new Date().toISOString() %>" readonly required>
        </div>
    </div>

    <br>
    <button class="btn btn-info">Create</button>
</form>