<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/bugreports">Bug Reporter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if (currentUser && currentUser.role === "Bug Reporter") { %>
                    <a class="nav-link" href="/bugreports/new">New Bug Report</a> <!-- For bug reporter only -->
                <% } %>
                <% if (currentUser && currentUser.role === "Triager") { %>
                    <a class="nav-link" href="/bugreports/unassigned">Unassigned Reports</a> <!-- For triager only -->
                <% } %>
                <% if (currentUser && currentUser.role === "Developer") { %>
                    <a class="nav-link" href="/bugreports/assigned">Your Assigned Reports</a> <!-- For developer only -->
                <% } %>
                <% if (currentUser && currentUser.role === "Reviewer") { %>
                    <a class="nav-link" href="/bugreports/review">Bugs to Review</a> <!-- For reviewer only -->
                <% } %>
                <a class="nav-link" href="/bugreports/search">Search</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                <% } else { %>
                    <div class="nav-link">Logged in as <%= currentUser.username %> (<%= currentRole %>)</div>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>